<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/submit" mathod="get">
      <div>
        <input
          type="text"
          placeholder="Enter name..."
          name="name"
          class="form-control" />
      </div>
      <div class="form-group">
        <label>Enter roll</label>
        <input
          type="text"
          placeholder="Enter roll...."
          name="name"
          class="form-control" />
      </div>
      <div>
        <label>Enter fee</label>
        <input
          type="text"
          placeholder="Enter Fee.."
          name="fee"
          class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary mt-2" />
      </div>
    </form>
  </body>
</html>
